<div id="root">
  <div class="container pt-5">
    <div class="row">
      <div class="c-dashboardInfo column" *ngFor="let order of orders">
        <div class="wrap">
          <h4
            class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"
          >
            Order ID : {{ order.orderId }}
          </h4>
          <p>Allocation Amount</p>
          <span class="hind-font caption-12 c-dashboardInfo__count">{{
            order.allocAmount
          }}</span>
          <span>Status : {{ order.status }}</span>
          <a href="#popup{{ order.orderId }}">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="popup{{ order.orderId }}" class="overlay" *ngFor="let order of orders">
  <div class="popup">
    <div class="cont">
      <div class="pricing-table table1">
        <div class="header">
          <div class="orderid">
            <span><strong class="for-head">Order ID : </strong>{{ order.orderId }}</span>
          </div>
          <div class="title">
            <strong class="for-head">Alloaction Amount : </strong>{{ order.allocAmount }}
          </div>
        </div>
        <ul class="list">
          <li><strong>Status :</strong> {{ order.status }}</li>
          <div class="border"></div>
          <li><strong>Created At :</strong> {{ order.createdAt }}</li>
          <div class="border"></div>
        </ul>
        <a class="close" href="#">&times;</a>
      </div>
    </div>
  </div>
</div>
<!-- <svg
              class="MuiSvgIcon-root-19"
              focusable="false"
              viewBox="0 0 24 24"
              aria-hidden="true"
              role="presentation"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
              ></path>
            </svg> -->
